.itemDetail-producto{
    height: 100vh;
}


.button-box{
    background-color: darkgreen;
    border: none;
}

.button-box:hover{
    background-color: springgreen;
}

.text-muted *{
    color: blueviolet;
}

.text-muted *:hover{
    color: violet;
}
.btn-buy{
    border-radius: 30%;
    background-color: purple;
    padding: 10px;
    border: none;
}