.box-count{
    display: flex;
    gap: 20px;
    padding: 2px;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
}

.box-count button{
    border: none;
    margin: 0.2rem;
}

.box-count-children{
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-dis{
    border-radius: 30%;
    background-color: purple;
    padding: 10px;
}

.btn-add{
    border-radius: 30%;
    background-color: purple;
    padding: 10px;
}

